<h2>Your Tasks</h2>

<h2><%= link_to "Add a new task", tasks_new_path %></h2>

<ol>
  <% @tasks.reverse.each do |task| %>
  <li><h3><%= link_to task.title, task_path(task) %></h3>
    <table>
      <tr>
        <th>Completed?</th>
        <th><input type="checkbox" <%= 'checked' if task.completed %> disabled></th>
      </tr>
    </table>
  </li>
  <% end %>
</ol>
